@media screen and (max-width: 576px) {
  nav,
  nav ul,.teams-container {
    flex-direction: column;
  }

  nav ul {
    margin-top: 20px;
  }

  nav ul li {
    font-weight: 600;
    color: #131313;
  }

  .banner-container {
    margin-top: 40px;
  }
  .banner-greetings h1 {
    font-size: 2rem;
  }
  .banner-greetings .description {
    padding: 10px;
  }

  .teams-img{
    grid-template-columns: 1fr;
  }
  .teams-content{
    width: 100%;
    text-align: center;
    
  }
  .teams-container{
    padding: 0;
  }
}

