/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --title-primary-color: #131313;
  --primary-color: #ff900e;
  --description-primary-color: #727272;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.title {
  color: var(--title-primary-color);
  font-family: Work Sans;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
}

.description {
  color: var(--description-primary-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.btn-primary {
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border: 0;
  padding: 21px 24px;
}

/* header styles */

header {
  background: rgba(255, 144, 14, 0.1);
}

/* nav area style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li {
  font-size: 1.15rem;
}

/* banner area */

.banner-container {
  margin-top: 100px;
  margin-bottom: 60px;
}

.banner-greetings {
  margin-bottom: 50px;
  text-align: center;
}

.banner-greetings h1 {
  font-size: 4rem;
}

.banner-greetings .description {
  padding: 30px 80px;
}

.banner-image {
  max-width: 100%;
  padding-bottom: 30px;
}

/* team section */
.teams-container{
  display: flex;
  gap: 76px;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 100px;
}

.teams-content{
  width: 468px;
}

.teams-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.quick-list{
  color:#727272 ;
}
.text-features {
  color: var(--primary-color);
}

.teams-content .description{
  padding-top: 24px;
  padding-bottom: 32px
}

/* featured-container */

.featured-container{
  display: flex;

 gap: 130px;
}


.featured-title{
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  width: 460px;
}

.featured-card-container .card{
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 20px 33px;
margin-bottom: 20px;
/* height: 171px; */
}

.featured-content .description{
  padding: 30px 0;
}

.card-title{
  font-size: 1.3rem;
}



.badge{
  text-align: center;
  padding: 46px 42px;
  border-radius: 8px;
background: var(--primary-color);
color: #FFF;
width: 342px;
transform: translate( -80px,-130px);
}

.years{

font-size: 4rem;

}

.experience{
  font-size: 1.8rem;
}

/* facts area */

.facts-container .description{
padding-top: 24px;
width: 542px;
}

.brand-information-box{
  /* display: grid;
  grid-template-columns: repeat(4,1fr); */
  display: flex;
  justify-content: space-around;
 flex-wrap: wrap;

}

.box{
text-align: center;
border-radius: 8px;
border: 1px solid #FF900E;
padding: 40px;
margin: 100px 0;
}



/* sponsors */

.sponsors{
  text-align: center;
  margin-bottom: 130px
}

.sponsors p{
  padding: 20px 0;
  width: 542px;
  margin: auto;
}

.sponsors-image-container{
  display: flex;
  justify-content: center;
  gap: 155px;
  margin-top: 50px;

}


